{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/instructions.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/normaliz.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'main/css/nav.css' %}" />

    <title>Project</title>
  </head>

  <body>
        {% include 'main/nav.html' %}
    
<p>
<b>
  <div class="head">
   <h1> Instructions for users
    </h1></div>
</b>
</p>

<div class="head1">

    
    <h2>
         How to Register :
    </h2>
    
        <p>(1) Go to the navigation bar at the top of the page</p>
        <p>(2) Select Register option.</p>
        <p>(3) Registeration page will open.</p>
        <p>(4)Fill in the required informations field with your information to create an account.</p>
        <p>(5)Submit the information that you entered and you'll account will be done.</p>
    

</div>

<div class="head2">

    <h2>
        How to add a student:  
    </h2>

        <p>(1) Go to the navigation bar at the top of the page</p>
        <p>(2) Select Services.</p>
        <p>(3)A drop down menu will appear , Select add student option from it.</p>
        <p>(4) Add student page will open.</p>
        <p>(5) Fill the required information field for the new student to be added such as his number , ID , Name .. etc.</p>
        <p>(6) Press save so that all the student's information will be saved.</p>
    

</div>


<div class="head3">

    <h2>
        How to edit your profile  :   
    </h2>
     
        <p>(1) Go to the navigation bar at the top of the page.</p>
        <p>(2) Select profile .</p>
        <p>(3) you profile page will open
        Select the part you want to edit and make changes on it.(You must've already an account and logged in).</p>

</div>


<div class="head4">

    <h2> 
       How to add announcement:
    </h2>
    
    
    <p>(1) Go to the navigation bar at the top of the page.</p>
    <p>(2) Select profile .</p>
    <p>(3) you profile page will open
    Select the part you want to edit and make changes on it.(You must've already an account and logged in).</p>
       
    

</div>


<div class="head5">

    <h2>
       How to edit student:  
    </h2>

    <p>(1) Go to the navigation bar at the top of the page.</p>
    <p>(2) Select profile .</p>
    <p>(3) you profile page will open
    Select the part you want to edit and make changes on it.(You must've already an account and logged in).</p>
</div>

<div class="head6">

    <h2>
        How to Register course:
    </h2>
    <p>(1) Go to the navigation bar at the top of the page.</p>
    <p>(2) Select profile .</p>
    <p>(3) you profile page will open
    Select the part you want to edit and make changes on it.(You must've already an account and logged in).</p>
</div>

<div class="head7">
    <h2>  
        How to view students:
           
    </h2>
    
    
    <p>(1) Go to the navigation bar at the top of the page.</p>
    <p>(2) Select profile .</p>
    <p>(3) you profile page will open
    Select the part you want to edit and make changes on it.(You must've already an account and logged in).</p>   
</div>

</body> 
</html>